# /etc/systemd/system/controller.service
[Unit]
Description=Controller service

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/home/pi/controller-rpi
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target